@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


//
// Color
//

$white:    #fff    !default;
$gray-100: #F9FBFD !default;
$gray-200: #EDF2F9 !default;
$gray-300: #dee2e6 !default;
$gray-400: #F7F9FD !default;
$gray-500: #95AAC9 !default;
$gray-600: #6c757d !default;
$gray-700: #6E84A3 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000    !default;

$dark:     #162A49 !default;
$primary: #1abc9c  !default;
$secondary: #0F7561!default;
$info:     #FFA500 !default;
$danger:        #EB4C4C !default;
$success:        #05AFFC !default;

$lrem:  aliceblue !default;
$ecolo: green      !default;
$socialiste: pink  !default;
$id: brown         !default;
$cre: darkcyan     !default;


.badge-lrem {
    color: $dark;
    background-color: $lrem;
}

.badge-ecolo {
    color: $white;
    background-color: $ecolo;
}

.badge-socialiste {
    color: $white;
    background-color: $socialiste;
}

.badge-id {
    color: $white;
    background-color: $id;
}

.badge-cre {
    color: $white;
    background-color: $cre;
}

.badge-lfi {
    color: $white;
    background-color: $danger;
}




$dropdown-link-color:               $gray-700 !default;
$dropdown-link-hover-color:         $primary !default;
$dropdown-link-hover-bg:            $gray-400 !default;

$body-bg:  $gray-100 !default;
$headings-color:              $dark !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-xs:                $font-size-base * .75 !default;

$input-placeholder-color:               $gray-700 !default;
.amsify-suggestags-input {
    color: $input-placeholder-color !important;
} 

.amsify-suggestags-input::placeholder {
    color: $input-placeholder-color !important;
} 

body {
    letter-spacing: -0.28px;
    
}

.text-gray-400 {
    color: $gray-400!important;
}

.text-gray-500 {
    color: $gray-500!important;
}

.text-gray-700 {
    color: $gray-700!important;
}

//
// Background
//
.bg-gray-100 {
    background-color: $gray-100!important;
}
.bg-hover-gray-100 {
    &:hover {
        background-color: $gray-100!important;
    }
}

.bg-gray-400 {
    background-color: $gray-400!important;
}

.bg-gray-500 {
    background-color: $gray-500!important;
}

.bg-gray-700 {
    background-color:  $gray-700!important;
}


//
// Border
//
$card-border-color:     $gray-200 !default;

.border.border-gray-200 {
    border-color: $primary !important;
}





//
// Typo
//
$font-family-base: 'Poppins', sans-serif !default;
$small-font-size:             80% !default;


// Forms
label.small-label {
    font-size: $small-font-size !important;
}

.custom-control-input-primary:focus~.custom-control-label::before {
    border-color: $primary !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}
      
.custom-control-input-primary:checked~.custom-control-label::before {
    border-color: $primary !important;
    background-color: $primary !important;
}
      
.custom-control-input-primary:focus:not(:checked)~.custom-control-label::before {
    border-color: $primary !important;
}
      
.custom-control-input-primary:not(:disabled):active~.custom-control-label::before {
    background-color: $white !important;
    border-color: $white !important;
}


.amsify-suggestags-list { width: calc(100% - 32px) !important; }

// Close
$close-color:                       $primary !default;

//
// layout
//
.dashboard-main {
    padding-left: 250px;
}

@media all and (max-width:992px) {
    .dashboard-main {
        padding-left: 0px;
    }
}

.avatar-img {
    width: 2.5rem;
    height: 2.5rem;
}

.avatar-img-sm {
    width: 2.3rem;
    height: 2.3rem;
}

.no-arrow.dropdown-toggle::after{
    display: none;
}

// Tables

$table-hover-bg: $gray-100;

.table { 
    thead {
        th {
            border-top: 0px !important;
            border-bottom: 1px solid $gray-200 !important;
        }
    }

}

.table [data-sort]{
    color: $gray-700;
    text-decoration: none !important;
}


.table [data-sort]::after {
    content: "\e924";
    margin-left: .25rem;
    font-family: 'icomoon';
}


@import "extra-style/_amsify.scss";
@import "extra-style/_icomoon.scss";
@import "extra-style/_tab.scss";
@import "extra-style/_nav.scss";

@import "node_modules/bootstrap/scss/bootstrap";