@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


//
// Color
//

$white:    #fff    !default;
$gray-100: #F9FBFD !default;
$gray-200: #EDF2F9 !default;
$gray-300: #dee2e6 !default;
$gray-400: #F7F9FD !default;
$gray-500: #95AAC9 !default;
$gray-600: #6c757d !default;
$gray-700: #6E84A3 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000    !default;

$dark:     #162A49 !default;
$primary: #1abc9c  !default;
$secondary: #0F7561!default;
$info:     #FFA500 !default;
$danger:        #EB4C4C !default;

$lrem:  aliceblue !default;
$ecolo: green      !default;
$socialiste: pink  !default;
$id: brown         !default;
$cre: darkcyan     !default;


.badge-lrem {
    color: $dark;
    background-color: $lrem;
}

.badge-ecolo {
    color: $white;
    background-color: $ecolo;
}

.badge-socialiste {
    color: $white;
    background-color: $socialiste;
}

.badge-id {
    color: $white;
    background-color: $id;
}

.badge-cre {
    color: $white;
    background-color: $cre;
}

.badge-lfi {
    color: $white;
    background-color: $danger;
}




$dropdown-link-color:               $gray-700 !default;
$dropdown-link-hover-color:         $primary !default;
$dropdown-link-hover-bg:            $gray-400 !default;

$body-bg:  $gray-100 !default;
$headings-color:              $dark !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-xs:                $font-size-base * .75 !default;


body {
    letter-spacing: -0.28px;
    
}

.text-gray-400 {
    color: $gray-400!important;
}

.text-gray-500 {
    color: $gray-500!important;
}

.text-gray-700 {
    color: $gray-700!important;
}

//
// Background
//
.bg-gray-100 {
    background-color: $gray-100!important;
}
.bg-hover-gray-100 {
    &:hover {
        background-color: $gray-100!important;
    }
}

.bg-gray-400 {
    background-color: $gray-400!important;
}

.bg-gray-500 {
    background-color: $gray-500!important;
}

.bg-gray-700 {
    background-color:  $gray-700!important;
}


//
// Border
//
$card-border-color:     $gray-200 !default;

.border.border-gray-200 {
    border-color: $primary !important;
}





//
// Typo
//
$font-family-base: 'Poppins', sans-serif !default;
$small-font-size:             80% !default;


// Forms
label.small-label {
    font-size: $small-font-size !important;
}

.custom-control-input-primary:focus~.custom-control-label::before {
    border-color: $primary !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}
      
.custom-control-input-primary:checked~.custom-control-label::before {
    border-color: $primary !important;
    background-color: $primary !important;
}
      
.custom-control-input-primary:focus:not(:checked)~.custom-control-label::before {
    border-color: $primary !important;
}
      
.custom-control-input-primary:not(:disabled):active~.custom-control-label::before {
    background-color: $white !important;
    border-color: $white !important;
}





// Close
$close-color:                       $primary !default;

//
// layout
//
.dashboard-main {
    padding-left: 250px;
}

@media all and (max-width:992px) {
    .dashboard-main {
        padding-left: 0px;
    }
}

.avatar-img {
    width: 2.5rem;
    height: 2.5rem;
}

.avatar-img-sm {
    width: 2.3rem;
    height: 2.3rem;
}

.no-arrow.dropdown-toggle::after{
    display: none;
}


.amsify-suggestags-area
.amsify-suggestags-input-area-default {
	cursor: pointer;
    border: 1px solid #cccccc;
    min-height: 20px;
    padding: 8px 5px;
}

.amsify-suggestags-area
.amsify-suggestags-input-area {
	text-align: left;
	height: auto;
}

.amsify-suggestags-area
.amsify-suggestags-input-area:hover {
	cursor: text;
}

.amsify-suggestags-area
.amsify-suggestags-input-area
.amsify-suggestags-input {
	max-width: 200px;
	padding: 0px 4px;
	border: 0;
}

.amsify-suggestags-area
.amsify-suggestags-input-area
.amsify-suggestags-input:focus {
	outline: 0;
}

.amsify-focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.amsify-focus-light {
	border-color: #cacaca;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(189, 189, 189, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(189, 189, 189, 0.6);
}

.amsify-suggestags-area
.amsify-suggestags-label {
	cursor: pointer;
	min-height: 20px;
}

.amsify-toggle-suggestags {
	float: right;
	cursor: pointer;
}

.amsify-suggestags-area .amsify-suggestags-list {
	display: none;
	position: absolute;
	background: white;
	border: 1px solid #dedede;
	z-index: 1;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list {
	list-style: none;
	padding: 3px 0px;
	max-height: 150px;
    overflow-y: auto;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.amsify-list-item {
	text-align: left;
    cursor: pointer;
    padding: 0px 10px;	
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.amsify-list-item:active {
	background: #717171;
    color: white;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.amsify-list-group {
	text-align: left;
    padding: 0px 10px;
    font-weight: bold;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.amsify-item-pad {
    padding-left: 30px;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.amsify-item-noresult {
    display: none;
    color: #ff6060;
    font-weight: bold;
    text-align: center;
}

.amsify-suggestags-area
.amsify-suggestags-list
.amsify-select-input {
	display: none;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.active {
	background: #d9d8d8;
}

.amsify-suggestags-area
.amsify-suggestags-list
ul.amsify-list
li.amsify-item-pad.active {
	font-weight: normal;
}

.amsify-suggestags-input-area
.amsify-select-tag {
    padding: 2px 7px;
    margin: 0px 4px 1px 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
}

.amsify-suggestags-input-area
.amsify-select-tag.col-bg {
	background: #d8d8d8;
    color: black;
}

/*.amsify-suggestags-input-area
.amsify-select-tag:hover {
	background: #737373;
    color: white;
}*/

.amsify-suggestags-input-area
.disabled.amsify-select-tag {
    background: #eaeaea;
    color: #b9b9b9;
    pointer-events: none;
}

.amsify-suggestags-input-area
.flash.amsify-select-tag {
    background-color: #f57f7f;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.amsify-suggestags-input-area
.amsify-remove-tag {
	cursor: pointer;
}



@import "extra-style/_icomoon.scss";
@import "extra-style/_tab.scss";
@import "extra-style/_nav.scss";

@import "node_modules/bootstrap/scss/bootstrap";