.filter-offcanvas{
    visibility: hidden;
    transform:translateX(100%);
    border-radius:0; 
    display:block;
    position: fixed;
    top: 0; right: 0;
    height: 100%;
    z-index: 1200;
    max-width: 250px;

    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
}

.filter-offcanvas.show{
    visibility: visible;
    transform: translateX(0);
}



.filter-offcanvas.show {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow-y: auto !important;
}